@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 8%);
    color: white;
}


main {
    width: 350px;
    height: 590px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    border-radius: 30px;
}

.presentation img {
    border-radius: 50%;
    padding: 30px;
    width: 90px;
}

.presentation h2 {
    font-weight: 500;
    padding: 5px;
    font-size: 25px;
}

.presentation h6 {
    color:hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 20px;
}

.links h5 {
    font-weight: 500;
    color: rgb(202, 202, 202);
    margin-bottom: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 16px;
    
}

.links a {
    text-decoration: none;
    color: white;   
    padding: 8px;
    line-height: 23px;
    font-size: 13px;
    font-weight: 700;
    width: 278px;
    height: 25px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
}

.links a:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
}

.attribution {
    font-size: 11px; text-align: center; padding: 5px;
}
    
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    main {
        width: 320px;
        height: 550px;
    }

    .links a {
        width: 255px;
        height: 19px;
        font-size: 12px;
        line-height: 20px;
    }

}